<div class="new-movie">
    <h1 class="new-movie__title">✧˖°.☆ﾟ°˖ Ajouter un film ˖°ﾟ☆.°˖✧</h1>
    <form class="new-movie__form">
        <input class="new-movie__input" type="text" name="title" placeholder="Titre du film" required>
        <input class="new-movie__input" type="text" name="director" placeholder="Réalisateur du film" pattern="[^0-9]*" title="Les nombres ne sont pas autorisés." required>
        <input class="new-movie__input" type="number" name="year" placeholder="Année de sortie" pattern="[^0-9]*" title="Les lettres ne sont pas autorisées." required>
        <input class="new-movie__input" type="number" name="length" placeholder="Durée (en minutes)" pattern="[^0-9]*" title="Les lettres ne sont pas autorisées." required>
        <input class="new-movie__input" type="text" name="description" placeholder="Synopsis du film" pattern="[^0-9]*" title="Les nombres ne sont pas autorisés." required>
        <select name="category" required>
            <option value="1">Action</option>
            <option value="2">Comédie</option>
            <option value="3">Drame</option>
            <option value="4">Science-fiction</option>
            <option value="5">Animation</option>
            <option value="6">Thriller</option>
            <option value="7">Horreur</option>
            <option value="8">Aventure</option>
            <option value="9">Fantaisie</option>
            <option value="10">Documentaire</option>
        </select>
        <input class="new-movie__input" type="text" name="image" placeholder="Nom du fichier de l'affiche" pattern="[^0-9]*" required>
        <input class="new-movie__input" type="text" name="url" placeholder="URL youtube du trailer" required>
        <select name="min_age" required>
            <option value="0">Tous publics</option>
            <option value="0">Avertissement</option>
            <option value="12">Interdit au moins de 12 ans</option>
            <option value="16">Interdit au moins de 16 ans</option>
            <option value="18">Interdit au moins de 18 ans (non classé X)</option>
            <option value="18">Interdit au moins de 18 ans (classé X)</option>
        </select>
        
        <input class="new-movie__btn" onclick="{{handler}}" type="button" value="Update" name="todo">

    </form>
</div>