@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Primitive Tokens */
  --color-black: hsl(253, 69%, 8%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(210, 7%, 88%);
  --color-blue: hsl(203, 58%, 15%);
  --color-dark-blue: hsl(180, 40%, 10%);
  --color-yellow-green: hsl(65, 79%, 62%);

  --ff-sans: "Inter", Arial, sans-serif;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-fg-sec: var(--color-yellow-green);
  --color-bg: var(--color-blue);
}
