<section class="movie-detail">
  <div class="movie-detail__header">
    <div class="movie-detail__close" onclick="C.handlerHome()">✕</div>
    <h1 class="movie-detail__title">{{nameMovie}} – {{yearMovie}}</h1>
    <img class="movie-detail__img" src="{{imgMovie}}" alt="{{nameMovie}}" />
    <div class="movie-detail__infos">
      <p class="movie-detail__info">
        <span class="movie-detail__info-title">Description : </span>
        {{descMovie}}
      </p>
      <p class="movie-detail__info">
        <span class="movie-detail__info-title">Réalisateur : </span>
        {{directorMovie}}
      </p>
      <p class="movie-detail__info">
        <span class="movie-detail__info-title">Année de sortie : </span>
        {{yearMovie}}
      </p>
      <p class="movie-detail__info">
        <span class="movie-detail__info-title">Catégorie : </span>
        {{categoryMovie}}
      </p>
      <p class="movie-detail__info">
        <span class="movie-detail__info-title">Âge minimum : </span>
        {{ageMovie}}
      </p>
    </div>
  </div>
  <iframe
    class="movie-detail__trailer"
    src="{{trailerMovie}}"
    title="URL link"
    frameborder="0"
    allow=
      "accelerometer;
      utoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
    Bande Annonce</iframe>
</section>
