header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  --_fg-clr: var(--color-fg);
  --_bg-clr: var(--color-bg);

  --_list-clr: var(--color-black);
  --_arrow-clr: var(--color-gray-light);

  --_offset: 0.2rem;
  --_border-clr: var(--color-gray);
  --_hover-clr: var(--color-white);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: .8rem 3rem;
  color: var(--_fg-clr);
  background-color: var(--_bg-clr);

  .navbar__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;

    .navbar__item {
      padding: .5rem 1rem;
      font-size: .8rem;
      text-decoration: underline;
      text-decoration-thickness: .1rem;
      text-underline-offset: var(--_offset);
      cursor: pointer;
      transition: text-underline-offset .2s ease-in-out;

      &:hover {
        --_offset: .5rem;
      }
    }

    .navbar__profile-select {
      margin-left: auto;

      .navbar__profile-dropdown {
        position: relative;
        cursor: pointer;

        .profile-dropdown__selected {
          display: flex;
          align-items: center;
          gap: .5rem;
          padding: .4rem .8rem;
          border: 1px solid var(--_border-clr);
          border-radius: .5rem;
          transition: border-color .2s ease;
          &:hover {
            border-color: var(--_hover-clr);
          }
        }

        .profile-dropdown__avatar {
          width: 2rem;
          height: 2rem;
          border-radius: 2rem;
          object-fit: cover;
        }

        .profile-dropdown__arrow {
          font-size: .7rem;
          color: var(--_arrow-clr);
        }

        .profile-dropdown__list {
          position: absolute;
          right: 0;
          top: calc(100% + .5rem);
          z-index: 10;
          list-style: none;
          min-width: 10rem;
          background-color: var(--_list-clr);
          border: 1px solid var(--_border-clr);
          border-radius: .5rem;
          overflow: hidden;

          .profile-dropdown__item {
            display: flex;
            align-items: center;
            gap: .75rem;
            padding: .6rem 1rem;
            cursor: pointer;
            transition: background-color .2s ease-in-out;

            &:hover {
              background-color: var(--_bg-clr);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 53rem) {
  .navbar {
    .navbar__list {
      gap: 2rem;
      list-style: none;

      .navbar__item {
        font-size: 1.5rem;
      }
    }
  }
}

