<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="{{hAbout}}">About</li>
    <li class="navbar__item" onclick="{{hHome}}">Films</li>
    <li class="navbar__profile-select">
      <div class="navbar__profile-dropdown" onclick="C.handlerDropdown()">
        <div class="profile-dropdown__selected">
          {{currentProfile}}
          <span class="profile-dropdown__arrow">▼</span>
        </div>
        <ol class="profile-dropdown__list" id="profile-dropdown-list" style="display:none;">
          {{profileItem}}
        </ol>
      </div>
    </li>
    <li class="navbar__item" onclick="C.handlerLogout()">Déconnexion <span class="navbar__item-arrow">→</span></li>
  </ul>
</nav>